/*Fonts*/

@font-face {
    font-family: 'droid_serifbold';
    src: url('../fonts/droidserif-bold-webfont.woff2') format('woff2'),
         url('../fonts/droidserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_serifregular';
    src: url('../fonts/droidserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/droidserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*General styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: .5s;
}

body {
	margin: 0;
	font-family: 'droid_serifregular';
	background-color: #eaeaea;
}

img {
	max-width: 100%;
	opacity: 0.7;
}

h3 {
	max-width: 100%;
	margin: 20px 0;
	font-family: 'droid_serifbold';
}

p {
	padding: 0 36px;
	font-size: 18px;
}

ul {
	list-style: none;
}

li {
	font-size: 18px;
}

/*End generl styles*/

/*Styles of header*/

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
	background-color: #fff;
}

.header__logo {
	margin-left: 137px;
	margin-bottom: 20px;
}

.logout {
	margin-right: 26px;
	font-size: 20px;
	font-weight: bold;
}

.header__description {
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	text-align: center;
	color: #fff;
	background-color: #5A29B9;
}

/*End styles of header*/

/*Start styles of main*/

.main {
	padding: 0 10px;
	text-align: center;
	background-color: #fff;
}

.main__title {
	padding: 40px 0;
}

.content__container {
	max-width: 100%;
}

.content__container:hover {
	cursor: pointer;
}

.opacity {
	opacity: 1;
}

.content__description {
	display: none;
}

.learn-more {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-width: 40%;
	margin: 25px auto;
	text-decoration: none;
	padding: 20px 0;
	color: #fff;
	background-color: #5a29b9;
	border-radius: 3px;
}

.learn-more__text {
	margin-right: 10px;
	font-family: 'droid_serifbold';
	font-size: 18px;
	font-weight: 700;
}

.rectangle {
	max-width: 100%;
	height: 21px;
	background-color: #5a29b9;
}

.content__container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	padding-bottom: 40px;
}

.is-active {
	display: block;
}

.link-active {
	display: flex;
}

/*End styles of main*/

/*Styles of footer*/

.footer {
	padding: 27px 0;
	text-align: center;
	background-color: #fff;
}

.footer::before {
	content: '';
	display: block;
	width: 97%;
	height: 2px;
	margin: 34px auto;
	background-color: #E6E6E6;
}

/*End styles of footer*/

/*media quarys*/

@media screen and (max-width: 780px) {

	h3 {
		max-width: 95%;
		padding-left: 36px
	}

	img {
		max-width: 95%;
	}

	ul {
		padding-left: 36px;
	}

	.header {
		flex-direction: column;
		align-items: center;
	}

	.header__logo {
		margin: 20px auto;
	}

	.logout {
		padding-bottom: 10px;
	}

	.header__description {
		padding: 10px;
		font-size: 18px;
	}
	/*This problem with content and its width in responsive version was solved using margin: 0;*/
	.row {
		margin: 0;
	}

	.container {
		padding: 0;
	}

	.main {
		padding: 0;	
	}

	.main__title {
		font-size: 22px;
	}

	.content__container {	
		text-align: left;
	}

	.learn-more {
		max-width: 80%;
		margin: 25px 0 25px 36px;
	}

	.content__column {
		max-width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

	.rectangle {
		max-width: 100%;
	}
	/*problem width footer solved with using padding-bottom: 100px;*/
	.footer {
		padding-top: 0;
		padding-bottom: 100px;
	}

	.footer::before {
	content: '';
	width: 100%;
	margin-top: 0;
	margin-bottom: 34px;
}
}

/*end media quarys*/